<!DOCTYPE html>
<html>
	<head>
		<title>Contact Book App</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		  <div class="container-fluid">
		    <a class="navbar-brand" href="#">Contact Book App</a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		  </div>
		</nav>

		<div class="container" style="margin-top: 80px;" id="app">
			<div class="d-flex justify-content-between">
				<button class="btn btn-sm btn-success mb-2" @click="addItemModal">Add New Contact</button>
				<input type="text" class="form-control mb-1" placeholder="Search name,phone and press enter" style="width: 350px;" v-model="searchQuery">
			</div>

			<section tag="modal">
				<div class="modal fade" id="addNewModal" tabindex="-1" aria-labelledby="addNewModal" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
				  <div class="modal-dialog modal-dialog-centered">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="addNewModal">{{title}}</h5>
				        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				      </div>
				      	<div class="modal-body">
				      		<form action="" method="post" autocomplete="off" @submit.prevent="save_item(this)">
        			        	<div class="alert alert-success mb-3" role="alert" v-if="msg.length != 0">{{msg}}</div>
        			        	<div class="mb-3">
        		        	    	<label class="form-label">Name</label>
        			        	    <input type="text" class="form-control" v-model="name" id="name" required>
        		        	  	</div>
        		        	  	<div class="mb-3">
        		        	    	<label class="form-label">Phone</label>
        			        	    <input type="text" class="form-control" v-model="phone" id="phone" required>
        		        	  	</div>
        		        	  	<div class="mb-3">
        		        	    	<label class="form-label">Company</label>
        			        	    <input type="text" class="form-control" v-model="company" id="company" required>
        		        	  	</div>
        		        	  	<div class="mb-3">
        		        	    	<label class="form-label">Address</label>
        			        	    <textarea v-model="address" id="address" cols="30" rows="5" class="form-control" required></textarea>
        		        	  	</div>

        		        	  	<div class="modal-footer">
        		        	  	  	<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        		        	  	  	<button type="submit" class="btn btn-primary">Save changes</button>
        		        	  	</div>
				        	</form>
				      	</div>
				    </div>
				  </div>
				</div>

				<div class="modal fade" id="updateNewModal" tabindex="-1" aria-labelledby="updateNewModal" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
				  <div class="modal-dialog modal-dialog-centered">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="updateNewModal">{{title}}</h5>
				        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				      </div>
				      	<div class="modal-body">
				      		<form action="" method="post" autocomplete="off" @submit.prevent="update_item(this)">
        			        	<div class="alert alert-success mb-3" role="alert" v-if="msg.length != 0">{{msg}}</div>
        			        	<input type="hidden" class="form-control" v-model="id" id="id" required>
        			        	<div class="mb-3">
        		        	    	<label class="form-label">Name</label>
        			        	    <input type="text" class="form-control" v-model="name" id="name" required>
        		        	  	</div>
        		        	  	<div class="mb-3">
        		        	    	<label class="form-label">Phone</label>
        			        	    <input type="text" class="form-control" v-model="phone" id="phone" required>
        		        	  	</div>
        		        	  	<div class="mb-3">
        		        	    	<label class="form-label">Company</label>
        			        	    <input type="text" class="form-control" v-model="company" id="company" required>
        		        	  	</div>
        		        	  	<div class="mb-3">
        		        	    	<label class="form-label">Address</label>
        			        	    <textarea v-model="address" id="address" cols="30" rows="5" class="form-control" required></textarea>
        		        	  	</div>

        		        	  	<div class="modal-footer">
        		        	  	  	<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        		        	  	  	<button type="submit" class="btn btn-primary">Save changes</button>
        		        	  	</div>
				        	</form>
				      	</div>
				    </div>
				  </div>
				</div>
			</section>


			<table class="table table-striped table-bordered">
				<thead>
					<tr class="table-primary">
						<th scope="col">#</th>
				      	<th scope="col">Name</th>
				      	<th scope="col">Phone</th>
				      	<th scope="col">Company</th>
				      	<th scope="col">Address</th>
				      	<th scope="col">Created On</th>
				      	<th scope="col">Updated On</th>
				      	<th class="text-center">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="(item,key) in contactList">
						<td>{{key+1}}</td>
						<td>{{item.name}}</td>
						<td>{{item.phone}}</td>
						<td>{{item.company}}</td>
						<td>{{item.address}}</td>
						<td>{{item.created_on}}</td>
						<td>{{item.updated_on}}</td>
						<td>
							<button class="btn btn-sm btn-warning" @click="editItemModal(key)">Edit</button>
							<button class="btn btn-sm btn-danger" @click="deleteItem(key)">Delete</button>
						</td>
					</tr>
					<tr v-if="contactList.length == 0">
						<td colspan="8" class="text-center">No record found</td>
					</tr>
				</tbody>
			</table>
		</div>

		<script type="text/javascript" src="http://code.jQuery.com/jQuery-1.7.2.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

		<script>

			var contacts = [];

			var app = new Vue({
			  el: '#app',
			  data: {
			  	title: '',
			  	msg: '',
			  	id: '',
			  	name: '',
			  	phone: '',
			  	company: '',
			  	address: '',
			  	contactList: [],
			  	searchQuery: ''
			  },
			  mounted: function(){
			  	this.showItem();
			  },
			  methods:{
			  	showItem(){
			  		if (!!(localStorage.getItem('contactList'))) {
		  		      this.contactList = JSON.parse(localStorage.getItem('contactList'));
		  		    } else {
		  		      this.contactList = [];
		  		    }
		  		    console.log(this.contactList);
			  	},
			  	clearForm(){
			  		this.msg = '';
			  		this.name = '';
			  		this.phone = '';
			  		this.company = '';
			  		this.address = '';
			  	},
			  	randomString(){
			  		var chars = '0123456789ABCDEFGHIJKLMNOPQRSTUVWXTZabcdefghiklmnopqrstuvwxyz'.split('');

		  		    if (! length) {
		  		        length = Math.floor(Math.random() * chars.length);
		  		    }

		  		    var str = '';
		  		    for (var i = 0; i < length; i++) {
		  		        str += chars[Math.floor(Math.random() * chars.length)];
		  		    }
		  		    return str;
			  	},
			  	getNewDate(){
			  		var d = new Date();
			  		var newDate = ("0" + d.getDate()).slice(-2) + "-" + ("0"+(d.getMonth()+1)).slice(-2) + "-" +
			  		    d.getFullYear();
			  		return newDate;    
			  	},
			  	addItemModal(){
			  		this.title = "New contact";
			  		this.clearForm();
			  		new bootstrap.Modal(document.getElementById('addNewModal')).show();
			  	},
			  	save_item(obj){
			  		var contact =
			  		{ 
			  			id : this.randomString(), 
			  			name : this.name, 
			  			phone : this.phone, 
			  			company : this.company, 
			  			address : this.address,
			  			created_on: this.getNewDate(),
			  			updated_on: this.getNewDate()
			  		};
			  		contacts.push(contact); 
			  		localStorage.setItem("contactList", JSON.stringify(contacts));
			  		this.msg = "The data was saved successfully";
			  		this.showItem();
			  		setTimeout(()=>{ this.clearForm(); }, 1000);	
		  			return false;
			  	},
			  	editItemModal(index){
			  		this.title = "Update contact";
			  		this.id = index;
			  		this.name = this.contactList[index]['name'];
			  		this.phone = this.contactList[index]['phone'];
			  		this.company = this.contactList[index]['company'];
			  		this.address = this.contactList[index]['address'];
			  		new bootstrap.Modal(document.getElementById('updateNewModal')).show();
			  	},
			  	update_item(obj){
			  		this.contactList[this.id]['name'] = this.name;
			  		this.contactList[this.id]['phone'] = this.phone;
			  		this.contactList[this.id]['company'] = this.company;
			  		this.contactList[this.id]['address'] = this.address;
			  		localStorage.setItem("contactList", JSON.stringify(this.contactList));
		  			this.showItem();
		  			$("#updateNewModal").removeClass("in");
    				$(".modal-backdrop").remove();
		  			$("#updateNewModal").hide();
			  	},
			  	deleteItem(index){
			  		if (confirm('Are you sure you want to delete this information?')){
			  			contacts.splice(index, 1);
			  			localStorage.setItem("contactList", JSON.stringify(contacts));
			  			this.showItem();
			  		}
			  	}
			  }
			})
		</script>
	</body>
</html>